<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.alexandria.daemon</string>
  <key>ProgramArguments</key>
  <array>
    <string>/usr/local/bin/alexandria</string>
    <string>daemon</string>
  </array>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <dict>
    <key>SuccessfulExit</key>
    <false/>
  </dict>
  <key>StandardOutPath</key>
  <string>/tmp/alexandria.daemon.out.log</string>
  <key>StandardErrorPath</key>
  <string>/tmp/alexandria.daemon.err.log</string>
  <key>EnvironmentVariables</key>
  <dict>
    <key>PATH</key>
    <string>__ALEX_LAUNCHD_PATH__</string>
    <key>RUST_LOG</key>
    <string>info,alexandria=debug</string>
  </dict>
</dict>
</plist>
